:root {
	--black-color: #3B434E;
	--white-color: #FFF;
	--primary-color: #7653FC;
	--red-color: #FC836D;
	--green-color: #1DC37E;
	--green-light-color: #C8F8E4;
	--background-color: #F5F6F8;
	--grey-color: #EBEBEB;
	--primary-hover-color:#6344df;
}

html,
body {
	overflow-x: hidden;

	max-width: 100vw;
}

body {
	color: var(--black-color);
	background: var(--background-color);

	font-family: var(--font-notoSans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	color: inherit;
}
